doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/css/ext.custom.css')
    link(rel='shortcut icon', href='/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    script(type='text/javascript', src='/javascripts/lib/ext/ext-all.js')
    script(type='text/javascript', src='/javascripts/bootstrap.js')
    script(type='text/javascript', src='/javascripts/lib/ext/locale/ext-lang-ru.js')
    script(type='text/javascript', src='/javascripts/lib/ext/locale/ru.js')
    script(type='text/javascript', src='/javascripts/app/app.js')
    script(type='text/javascript', src='/javascripts/lib/codemirror/lib/codemirror.js')
    script(type='text/javascript'). 
     _username= '#{username}'
  body
    iframe#exportframe.x-hidden(name='exportframe')
    form#exportform(method='get', target='exportframe')
      input#excelconfig(type='hidden', name='config', value='')
    div#main
    block content