doctype html
html
  head
    meta(charset='utf-8')
    title Авторизация
    link(rel='stylesheet', type='text/css', href='/login/style.css')
  body
    .container
      section#content
        form(method='post', action='/login?referer='  + referer)
          h1 Авторизация
          div
            //span= user
            span#message= message
          div
            input#username(type='text', placeholder='Логин', required='', name='username')
          div
            input#password(type='password', placeholder='Пароль', required='', name='password')
          div
            input(type='submit', value='Войти')
        //
           form
      //
         content
    //
       container
