doctype html
html
  head
    title Scripts
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/css/ext.custom.css")
    script(type="text/javascript", src="/javascripts/lib/ext/ext-all.js")
    script(type="text/javascript", src="/javascripts/bootstrap.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ext-lang-ru.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ru.js")
    script(type="text/javascript", src="/module/media/app.js")
    script(type='text/javascript'). 
     _username= '#{username}'
  body