<!DOCTYPE html>
<html>
    <head>
        <title>Scripts</title>
        <link rel="stylesheet" href="!{root.webPath}/main/stylesheets/bootstrap.css">
        <link rel="stylesheet" href="!{root.webPath}/main/stylesheets/css/ext.custom.css">
        <script type="text/javascript">_webPath = '!{root.webPath}';_username = '!{root.username}';</script>
        <script type="text/javascript" src="!{root.webPath}/main/javascripts/lib/ext/ext-all.js"></script>
        <script type="text/javascript" src="!{root.webPath}/main/javascripts/bootstrap.js"></script>
        <script type="text/javascript" src="!{root.webPath}/main/javascripts/lib/ext/locale/ext-lang-ru.js"></script>
        <script type="text/javascript" src="!{root.webPath}/lang/ru.js"></script>
        <script type="text/javascript" src="!{root.webPath}/module/media/app.js"></script></head>
    <body></body>
</html>