$zIndex: 110;
 
$fldBg: #fff;
$fldText: #000;
$fldBrd: #ccc;
$fldBrdSize: 1px;
$fldBrdRad: 1px;
$fldWidth: 285px;

$formBg: #f1f1f1;
//$formBorder: #c0cad5;
$formFont: "Lucida Grande", "Tahoma";
$formTxtSize: 12px;
$formTxtSizeSmall: 11px;
$formText: #333;
$formBrdRadius: 3px;

$btnBg: #637bad;
$btnTxtShadow: #1f76d0;
$btnTxtColor: #fff;
$btnSize: 12px;

$hdrColor: #fff;
$hdrBrdColor: #e9e9e9;
$hdrTxtSize: 12px;
$hdrBg: #567da4;
$hdrTxtShadow: #333;
$hdrBrdRadius: 3px 3px 0 0;

$closeBg: #4d659f;
$closeTxtShadow: #4d659f;
$closeTxt: #fff;
$closeSize: 18px;

$bgError: #f76363;
$bgSuccess: #98c462;
$bgHasError: #f2dede;

@import '../lib';
@import '../base';

.cme-btn {
	@include border(top, #027dd7);
	@include border(right, #1f76d0);
	@include border(bottom, #1f76d0);
	@include border(left, #1f76d0);
	@include bg(#95bae8, #1f76d0);
	@include border-radius(2px);
}
.cme-cls {
	@include bg(#ff3a25, #ff6b5f);
	@include border(all, #672c2b);
	font-size: 10px;
	font-weight: bold;
	border-radius: 100%;
}
.h6 {
	@include bg(#a1afc2, #435e84);
}