doctype html
html
  head
    title Manager
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/css/ext.custom.css")
    script(type="text/javascript", src="/javascripts/lib/ext/ext-all-dev.js")
    script(type="text/javascript", src="/javascripts/bootstrap.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ext-lang-ru.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ru.js")
    script(type="text/javascript", src="/javascripts/lib/codemirror/lib/codemirror.js")
    script(type="text/javascript", src="/module/manager/app.js")
  body