doctype html
html
  head
    title Reports
    link(rel="stylesheet", href="/stylesheets/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/css/ext.custom.css")
    script(type="text/javascript", src="/javascripts/lib/ext/ext-all.js")
    script(type="text/javascript", src="/javascripts/bootstrap.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ext-lang-ru.js")
    script(type="text/javascript", src="/javascripts/lib/ext/locale/ru.js")
    script(type="text/javascript", src="/module/reports/app.js")
  body
    iframe#exportframe.x-hidden(name="exportframe")
    form#exportform(method="get", target="exportframe")
      input#excelconfig(type="hidden", name="config", value="")
